# Lesson 1: Llama 3 Basics

> Note: You can access the `data` and `util` subdirectories used in the course. In Jupyter version 6, this is via the File>Open menu. In Jupyter version 7 this is in View> File Browser

> Also note that as models and systems change, the output of the models may shift from the video content.

In [1]:
from dotenv import load_dotenv
_ = load_dotenv()   #load environmental variable LAMINI_API_KEY with key from .env file

In [2]:
import lamini

In [3]:
llm = lamini.Lamini(model_name="meta-llama/Meta-Llama-3-8B-Instruct")

In [4]:
prompt = """\
<|begin_of_text|><|start_header_id|>system<|end_header_id|>

You are a helpful assistant.<|eot_id|><|start_header_id|>user<|end_header_id|>

Please write a birthday card for my good friend Andrew\
<|eot_id|><|start_header_id|>assistant<|end_header_id|>

"""

In [5]:
result = llm.generate(prompt, max_new_tokens=200)
print(result)

Here's a birthday card message for your friend Andrew:

"Happy birthday to an amazing friend like you, Andrew!

On your special day and always, I want you to know how much you mean to me. You bring so much joy, laughter, and adventure into my life, and I'm grateful for our friendship every day.

Here's to another year of making unforgettable memories, trying new things, and creating more inside jokes. You deserve all the best, and I hope your birthday is as awesome as you are!

Cheers to you, my friend! "

Feel free to modify it as you see fit, and I hope Andrew loves it!

In [6]:
prompt2 = ( 
    "<|begin_of_text|>"  # Start of prompt
    "<|start_header_id|>system<|end_header_id|>\n\n"  #  header - system
    "You are a helpful assistant."  # system prompt
    "<|eot_id|>" # end of turn
    "<|start_header_id|>user<|end_header_id|>\n\n" # header - user
    "Please write a birthday card for my good friend Andrew" 
    "<|eot_id|>" # end of turn
    "<|start_header_id|>assistant<|end_header_id|>\n\n" # header - assistant
    )
print(prompt2)

<|begin_of_text|><|start_header_id|>system<|end_header_id|>

You are a helpful assistant.<|eot_id|><|start_header_id|>user<|end_header_id|>

Please write a birthday card for my good friend Andrew<|eot_id|><|start_header_id|>assistant<|end_header_id|>

In [7]:
prompt == prompt2

True

In [8]:
def make_llama_3_prompt(user, system=""):
    system_prompt = ""
    if system != "":
        system_prompt = (
            f"<|start_header_id|>system<|end_header_id|>\n\n{system}"
            f"<|eot_id|>"
        )
    prompt = (f"<|begin_of_text|>{system_prompt}"
              f"<|start_header_id|>user<|end_header_id|>\n\n"
              f"{user}"
              f"<|eot_id|>"
              f"<|start_header_id|>assistant<|end_header_id|>\n\n"
         )
    return prompt

In [9]:
system_prompt = user_prompt = "You are a helpful assistant."
user_prompt = "Please write a birthday card for my good friend Andrew"
prompt3 = make_llama_3_prompt(user_prompt, system_prompt)
print(prompt3)

<|begin_of_text|><|start_header_id|>system<|end_header_id|>

You are a helpful assistant.<|eot_id|><|start_header_id|>user<|end_header_id|>

Please write a birthday card for my good friend Andrew<|eot_id|><|start_header_id|>assistant<|end_header_id|>

In [10]:
prompt == prompt3

True

In [11]:
user_prompt = "Tell me a joke about birthday cake"
prompt = make_llama_3_prompt(user_prompt)
print(prompt)

<|begin_of_text|><|start_header_id|>user<|end_header_id|>

Tell me a joke about birthday cake<|eot_id|><|start_header_id|>assistant<|end_header_id|>

In [12]:
result = llm.generate(prompt, max_new_tokens=200)
print(result)

Why was the birthday cake in a bad mood?

Because it was feeling crumby!

#### Try some prompts of your own!

## Llama 3 can generate SQL

In [13]:
question = (
    "Given an arbitrary table named `sql_table`, "
    "write a query to return how many rows are in the table." 
    )
prompt = make_llama_3_prompt(question)
print(llm.generate(prompt, max_new_tokens=200))

The query to return the number of rows in a table named `sql_table` is:

```sql
SELECT COUNT(*)
FROM sql_table;
```

This query uses the `COUNT(*)` function to count the number of rows in the table. The `*` is a wildcard that means "all columns", but in this case, we don't need to specify any specific columns because we're only interested in the count of rows.

In [14]:
question = """Given an arbitrary table named `sql_table`, 
help me calculate the average `height` where `age` is above 20."""
prompt = make_llama_3_prompt(question)
print(llm.generate(prompt, max_new_tokens=200))

Assuming you are using SQL, you can use the following query to calculate the average `height` where `age` is above 20:

```sql
SELECT AVG(height)
FROM sql_table
WHERE age > 20;
```

This query will return the average `height` for all rows in `sql_table` where the `age` is greater than 20.

In [15]:
question = """Given an arbitrary table named `sql_table`, 
Can you calculate the p95 `height` where the `age` is above 20?"""
prompt = make_llama_3_prompt(question)
print(llm.generate(prompt, max_new_tokens=200))

Assuming you are using a SQL database, you can use the following query to calculate the 95th percentile of the `height` column where the `age` is above 20:

```sql
SELECT PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY height)
FROM sql_table
WHERE age > 20;
```

This query uses the `PERCENTILE_CONT` function to calculate the 95th percentile of the `height` column. The `WITHIN GROUP (ORDER BY height)` clause specifies that the percentile should be calculated within the group of rows ordered by the `height` column. The `WHERE age > 20` clause filters the rows to only include those where the `age` is above 20.

Note that the exact syntax may vary depending on the specific database management system you are using. For example, in MySQL, you would use `PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY height) OVER

In [16]:
question = ("Given an arbitrary table named `sql_table`, "
            "Can you calculate the p95 `height` "
            "where the `age` is above 20? Use sqlite.")
prompt = make_llama_3_prompt(question)

print(llm.generate(prompt, max_new_tokens=200))

You can use the following SQL query to calculate the 95th percentile of the `height` column where the `age` is above 20 in SQLite:
```
SELECT PERCENTILE(height) FROM sql_table WHERE age > 20;
```
This will return the 95th percentile of the `height` values for the rows where `age` is greater than 20.

If you want to specify the exact percentile, you can use the `PERCENTILE_CONT` function with the desired percentile value (0.95 for the 95th percentile):
```
SELECT PERCENTILE_CONT(0.95) WITHIN GROUP (ORDER BY height) FROM sql_table WHERE age > 20;
```
Note that the `PERCENTILE_CONT` function is only available in SQLite 3.25 and later versions. In earlier versions, you can use the `PERCENTILE` function with the `KEEP` option:
```
SELECT PERCENTILE(height, 0.

#### Try some questions of your own!